<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>同构React • FileSystem</title>
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="container">{{{component}}}</div>
    <script id="initialData" type="text/json">{{{initialData}}}</script>
    <script src="/js/src/index.bundle.js"></script>
</body>

</html>
